In [1]:
import numpy as np
import pandas  as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# machine learning
# eda
# preprocessing
# train tests split
# model selection

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [7]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [8]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

one hot encoding

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [11]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

feature extraction

In [12]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

building ANN model

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.activations import relu,sigmoid
from tensorflow.keras.callbacks import EarlyStopping

In [18]:
model = Sequential()

In [19]:
# input layer
model.add(Dense(units=11,activation='relu'))

In [20]:
# 1st hidden layer
model.add(Dense(units=7,activation='relu'))
model.add(Dropout(0.2))

In [21]:
# 2nd hidden layer
model.add(Dense(units=6,activation='relu'))
model.add(Dropout(0.2))

In [22]:
# output layer
model.add(Dense(units=1, activation='sigmoid'))

In [23]:
early = tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    min_delta=0,
    patience=0,
    verbose=1,
    mode='auto',
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0
)

In [24]:
# from keras.model -> Loaded Sequential
# Created model as sequential
# from keras.layers using dense -> input layer using dense we create input, hidden and output layer
# 1st hidden layer
# 2nd hidden layer
# output layer
# we compiled the modelby setting some optimizers and loss function and accuracy metrics
# we train for training data -> X_train , y_train
# early stopping
# prediction


# dropout layer -> it is used to control overfiiting agar model overfit hojata hai toh dropout hidden layer ke kisi neurons o dead krdeta hai toh phir overfit nhi hoga
# ------------
# early stopping -> it stops training the model once the loss is not changing (apply it during training time)
# -------------
# validation split -> in validation split apn training data ko bhi split krdete hai
# training (70)% ko 30% me divide krdiya  isliye krte hai kyuki hyperparameter testing ke liye

In [25]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [26]:
# accuracy train data ki accuracy deta hai
# loss train data ka loss deta hai
# val_ accuracy test data ki accuracy deta hai
# val_loss test data ka loss deta hai

In [27]:
model.fit(X_train, y_train, epochs=100, validation_split=0.3,callbacks=[early])

Epoch 1/100
175/175  3s 4ms/step - accuracy: 0.7496 - loss: 0.6260 - val_accuracy: 0.7883 - val_loss: 0.5182
Epoch 2/100
175/175  1s 3ms/step - accuracy: 0.7950 - loss: 0.5180 - val_accuracy: 0.7896 - val_loss: 0.4816
Epoch 3/100
175/175  1s 3ms/step - accuracy: 0.8057 - loss: 0.4824 - val_accuracy: 0.7983 - val_loss: 0.4583
Epoch 4/100
175/175  1s 3ms/step - accuracy: 0.8072 - loss: 0.4589 - val_accuracy: 0.8079 - val_loss: 0.4460
Epoch 5/100
175/175  1s 3ms/step - accuracy: 0.7950 - loss: 0.4719 - val_accuracy: 0.8104 - val_loss: 0.4404
Epoch 6/100
175/175  1s 3ms/step - accuracy: 0.8020 - loss: 0.4547 - val_accuracy: 0.8108 - val_loss: 0.4376
Epoch 7/100
175/175  1s 3ms/step - accuracy: 0.8146 - loss: 0.4428 - val_accuracy: 0.8083 - val_loss: 0.4343
Epoch 8/100
175/175  1s 3ms/step - accuracy: 0.8125 - loss: 0.4297 - val_accuracy: 0.8129 - val_loss: 0.4292
Epoch 9/100
175/175  1s 3ms/step - accuracy: 0.8182 - loss: 0.4304 - val_accuracy: 0.8138 - val_loss: 0.4263
Epoch 10/100
175/175  1s 3ms/step - accuracy: 0.8150 - loss: 0.4275 - val_accuracy: 0.8154 - val_loss: 0.4231
Epoch 11/100
175/175  1s 3ms/step - accuracy: 0.8236 - loss: 0.4214 - val_accuracy: 0.8129 - val_loss: 0.4208
Epoch 12/100
175/175  1s 3ms/step - accuracy: 0.8150 - loss: 0.4205 - val_accuracy: 0.8104 - val_loss: 0.4187
Epoch 13/100
175/175  1s 3ms/step - accuracy: 0.8206 - loss: 0.4056 - val_accuracy: 0.8125 - val_loss: 0.4160
Epoch 14/100
175/175  1s 3ms/step - accuracy: 0.8194 - loss: 0.4110 - val_accuracy: 0.8129 - val_loss: 0.4132
Epoch 15/100
175/175  1s 5ms/step - accuracy: 0.8166 - loss: 0.4082 - val_accuracy: 0.8154 - val_loss: 0.4099
Epoch 16/100
175/175  1s 5ms/step - accuracy: 0.8208 - loss: 0.4068 - val_accuracy: 0.8163 - val_loss: 0.4069
Epoch 17/100
175/175  1s 4ms/step - accuracy: 0.8143 - loss: 0.4054 - val_accuracy: 0.8163 - val_loss: 0.4051
Epoch 18/100
175/175  1s 3ms/step - accuracy: 0.8212 - loss: 0.4051 - val_accuracy: 0.8179 - val_loss: 0.4017
Epoch 19/100
175/175  1s 3ms/step - accuracy: 0.8280 - loss: 0.3852 - val_accuracy: 0.8238 - val_loss: 0.3970
Epoch 20/100
175/175  1s 3ms/step - accuracy: 0.8280 - loss: 0.3910 - val_accuracy: 0.8283 - val_loss: 0.3947
Epoch 21/100
175/175  1s 3ms/step - accuracy: 0.8309 - loss: 0.3702 - val_accuracy: 0.8338 - val_loss: 0.3904
Epoch 22/100
175/175  1s 3ms/step - accuracy: 0.8419 - loss: 0.3695 - val_accuracy: 0.8388 - val_loss: 0.3864
Epoch 23/100
175/175  1s 3ms/step - accuracy: 0.8336 - loss: 0.3883 - val_accuracy: 0.8404 - val_loss: 0.3833
Epoch 24/100
175/175  1s 3ms/step - accuracy: 0.8410 - loss: 0.3710 - val_accuracy: 0.8429 - val_loss: 0.3806
Epoch 25/100
175/175  1s 3ms/step - accuracy: 0.8330 - loss: 0.3866 - val_accuracy: 0.8450 - val_loss: 0.3784
Epoch 26/100
175/175  1s 3ms/step - accuracy: 0.8460 - loss: 0.3690 - val_accuracy: 0.8462 - val_loss: 0.3754
Epoch 27/100
175/175  1s 3ms/step - accuracy: 0.8488 - loss: 0.3702 - val_accuracy: 0.8467 - val_loss: 0.3734
Epoch 28/100
175/175  1s 3ms/step - accuracy: 0.8375 - loss: 0.3727 - val_accuracy: 0.8508 - val_loss: 0.3712
Epoch 29/100
175/175  1s 3ms/step - accuracy: 0.8460 - loss: 0.3662 - val_accuracy: 0.8492 - val_loss: 0.3689
Epoch 30/100
175/175  1s 3ms/step - accuracy: 0.8345 - loss: 0.3763 - val_accuracy: 0.8492 - val_loss: 0.3690
Epoch 30: early stopping

In [28]:
y_pred_prob = model.predict(X_test)

63/63  0s 3ms/step

In [29]:
y_pred_train = model.predict(X_train)

250/250  0s 1ms/step

In [30]:
y_pred_train_new = (y_pred_train > 0.5).astype(int)

In [31]:
y_pred = (y_pred_prob > 0.5).astype(int)

In [32]:
# evaluation
from sklearn.metrics import accuracy_score, classification_report

In [33]:
# training accuracy
accuracy_score(y_train,y_pred_train_new)

0.85825

In [34]:
# testing accuracy
accuracy_score(y_test,y_pred)

0.8585

In [35]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.92      1607
           1       0.74      0.43      0.54       393

    accuracy                           0.86      2000
   macro avg       0.81      0.70      0.73      2000
weighted avg       0.85      0.86      0.84      2000

In [36]:
# if overfitting happens we can do
# regularization
# remove outliers
#

In [41]:
model.save("annmodel.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.